<a href="https://colab.research.google.com/github/shatakshii25/Python-and-ML-Practice-Notebooks/blob/main/class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [4,5,6,7,8,9,10,2]
a

[4, 5, 6, 7, 8, 9, 10, 2]

Slicing â–¶

In [ ]:
a[3:] #slicing is getting a small fragment of the list

[7, 8, 9, 10, 2]

In [ ]:
a[3:7] #3:inclusive #7:exclusive (element at index 3 is included but element at index 7 is included)

[7, 8, 9, 10]

In [ ]:
a[2:6]

[6, 7, 8, 9]

In [ ]:
a[4:]

[8, 9, 10, 2]

In [ ]:
a[4:8]

[8, 9, 10, 2]

In [ ]:
# [4, 5, 6, 7, 8, 9, 10, 2]
#  0  1  2  3  4  5   6  7 => positive indexing
# -8 -7 -6 -5 -4 -3  -2 -1 => negative indexing

In [ ]:
a[0:4]

[4, 5, 6, 7]

In [ ]:
a[-1:-5] #slicing always goes from left to right in python

[]

In [ ]:
a[-5:-1]

[7, 8, 9, 10]

In [ ]:
a[0:-5]

[4, 5, 6]

In [ ]:
a[-7:5]

[5, 6, 7, 8]

In [ ]:
# operations on a list

In [ ]:
# 1. append()
# 2. insert()
# 3. remove()
# 4. pop()
# 5. sort()
# 6. reverse()
# 7. index()
# 8. a.lower()
# 9. clear()
# 10.copy()
# 11.extend()
# 12.count()
# 13.reverse()

In [ ]:
fruits= ["apple", "orange", "grapes", "banana"]
fruits

['apple', 'orange', 'grapes', 'banana']

In [ ]:
fruits.append("apple")
fruits

['apple', 'orange', 'grapes', 'banana', 'apple']

In [ ]:
fruits.append("pear")
fruits

['apple', 'orange', 'grapes', 'banana', 'apple', 'pear']

In [ ]:
fruits.insert(2,"apple")
fruits

['apple', 'orange', 'apple', 'grapes', 'banana', 'apple', 'pear']

In [ ]:
fruits.insert(2,"apple")
fruits

['apple', 'orange', 'apple', 'apple', 'grapes', 'banana', 'apple', 'pear']

In [ ]:
fruits.remove("apple") #only removes first occurence of the element
fruits

['orange', 'apple', 'apple', 'grapes', 'banana', 'apple', 'pear']

In [ ]:
fruits.pop(4) #to delete elements wrt to index, we use pop. Here we removed "banana" from fruits which was at 4th index previously
fruits

['orange', 'apple', 'apple', 'grapes', 'apple', 'pear']

In [ ]:
# We cannot use remove() and give index, rather we use pop()

In [ ]:
# remove() would only remove the first occurence of the element

In [ ]:
l = [1,2,3,4,5,2,3,4,7,9,5]
l1 = []
for i in l:
  if i not in l1:
    l1.append(i)
  else:
    print(i, end=' ')

2 3 4 5

In [ ]:
del fruits[2:5] # delete a range of elements according to slicing 2 inclusive, 5 exclusive, i.e. elements from index 2 to 5 (exclusive) gets deleted.

In [ ]:
fruits

['orange', 'apple', 'pear']

In [ ]:
fruits.append("Orange")
fruits

['orange', 'apple', 'pear', 'Orange']

In [ ]:
fruits.append("Apple")
fruits

['orange', 'apple', 'pear', 'Orange', 'Apple']

In [ ]:
fruits.sort() #capital letters first, lower case letter starting elements later

In [ ]:
fruits

['Apple', 'Orange', 'apple', 'orange', 'pear']

In [ ]:
fruits.index('apple') #finds the index of the elements (first occurence)

2

In [ ]:
fruits.index('orange')

3

In [ ]:
fruits.index('Apple')

0

In [ ]:
fruits.count('apple') #to find the count of how many times apple is being repeated in the list

1

In [ ]:
fruits.clear() #deletes all the elements from the list

In [ ]:
fruits #returns an empty list

[]

In [ ]:
del fruits #deletes the entire list no matter it is empty or not

In [ ]:
fruits

NameError: ignored

In [ ]:
fruits = ['lemon', 'kiwi', 'lychee', 'cherry', 'berries']
fruits

['lemon', 'kiwi', 'lychee', 'cherry', 'berries']

In [ ]:
fruits.reverse() # reverses the list
fruits

['berries', 'cherry', 'lychee', 'kiwi', 'lemon']

In [ ]:
veggies = ['potato', 'tomato', 'onions', 'ginger', 'carrot']
veggies

['potato', 'tomato', 'onions', 'ginger', 'carrot']

In [ ]:
fruits + veggies #concatenation => just an operation, the elements dont get appended

['berries',
 'cherry',
 'lychee',
 'kiwi',
 'lemon',
 'potato',
 'tomato',
 'onions',
 'ginger',
 'carrot']

In [ ]:
fruits.extend(veggies) #extending a list by appending the veggies list elements
fruits

['berries',
 'cherry',
 'lychee',
 'kiwi',
 'lemon',
 'potato',
 'tomato',
 'onions',
 'ginger',
 'carrot']

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3,3,2]
a.extend(b)
a

[1, 2, 3, 4, 5, 5, 4, 3, 3, 2]

In [ ]:
a = [1,2,3,4,5,6]
b = [5,6,7,8]
a[0]+b[0]

6

In [ ]:
a[1]/a[4]

0.4

In [ ]:
b[-1]-a[5]

2

In [ ]:
# # TUPLES - represented in paranthesis
#   separated by commas
#   allows repetition of elements
#   allow elements of different datatypes
#   immutable (cannot add/remove elements once created from a tuple)
#   they give higher security to the elements cuz no one can change the tuple directly
#   support indexing
a = (1,2,3,4,5)
a.pop()

AttributeError: ignored

In [ ]:
# Whereas,  LISTS ARE MUTABLE

In [ ]:
b = (1,2,3,4,5)
type(b)

tuple

In [ ]:
a.append(5)

AttributeError: ignored

In [ ]:
a.insert(2,8)

AttributeError: ignored

In [ ]:
b.remove(6)

AttributeError: ignored

In [ ]:
a

(1, 2, 3, 4, 5)

In [ ]:
a[0]

1

In [ ]:
a[1]

2

In [ ]:
a[1:4] #range/slicing

(2, 3, 4)

In [ ]:
a.sort()

AttributeError: ignored

In [ ]:
a+b # concatenation works

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
a = a + b # it is a concatenation operation NOT "extend"

In [ ]:
a

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
b.extend(a) # but extend wont work
b

AttributeError: ignored

In [ ]:
a.reverse()

AttributeError: ignored

In [ ]:
len(a) # to find the length of 'a' that is the size of the tuple 'a'that is the number of elements in 'a'

10

In [ ]:
abs(a)

TypeError: ignored

In [ ]:
min(a) #finds the minimum element in tuple 'a'

1

In [ ]:
max(a) #finds the maximum element in tuple 'a'

5

In [ ]:
a.count(1) #count works basically gives how many times a occurs in the tuple 'a'

2

In [ ]:
# # SETS - represented in curly brackets
#   separated by commas
#   does not support indexing, thus no slicing (unordered)
#   does not allow repetition of elements
#   sorting is always ONLY IN THE ASCENDING ORDER
#   allow elements of different datatypes
#   MUTABLE, that is changes can be done (set.add() and set.discard() can be used)
a = {1,6,7,9,4,5}
a

{1, 4, 5, 6, 7, 9}

In [ ]:
a[0] #no indexing

TypeError: ignored

In [ ]:
a = {5,5,2,2,1,8,9,4,5} # no repetition
a

{1, 2, 4, 5, 8, 9}

In [ ]:
a.add(10)

In [ ]:
a

{1, 2, 4, 5, 8, 9, 10}

In [ ]:
a.add(9) #no use cuz 9 was already present in the set
a

{1, 2, 4, 5, 8, 9, 10}

In [ ]:
a.remove(9) # remove() works

In [ ]:
a

{1, 2, 4, 5, 8, 10}

In [ ]:
a.discard(4)
a

{1, 2, 5, 8, 10}

In [ ]:
a.add(6)
a

{1, 2, 5, 6, 8, 10}

In [ ]:
b = {4,5,11,6,3,9,0}
b

{0, 3, 4, 5, 6, 9, 11}

In [ ]:
# union of a set - all the elements from 'a' and 'b'
a | b # (all elements from a and b is union)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11}

In [ ]:
# intersection of a set - common elements from 'a' and 'b'
a & b

{5, 6}

In [ ]:
# difference in a set gives => a - (a intersection b)
a - b  #{1,2,5,6,8,10} - {5,6}

{1, 2, 8, 10}

In [ ]:
# Symmetric difference
# union of uncommon elements
a ^ b # {0,1,2,3,4,5,6,8,9,10,11}-{5,6}

{0, 1, 2, 3, 4, 8, 9, 10, 11}

In [ ]:
new_set = b.copy()

In [ ]:
new_set #new_set is not empty even if we empty 'b' later on

{0, 3, 4, 5, 6, 9, 11}

In [ ]:
b.clear()

In [ ]:
b #becomes an empty set

set()

In [ ]:
# how to define empty lists, empty tuples, empty sets, empty dictionaries

In [ ]:
# EMPTY LIST
a = []
a = list()
a              # either of the two can be used

[]

In [ ]:
# EMPTY TUPLE
b = ()
b = tuple()
b              # either of the two can be used

()

In [ ]:
# EMPTY SET
c = {}  #not an empty set but it is a DICTIONARY
c = set()
type(c)

set

In [ ]:
# EMPTY DICTIONARY
d = {}
type(d)

dict