<a href="https://colab.research.google.com/github/shatakshii25/Python-and-ML-Practice-Notebooks/blob/main/class6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while loop
i=0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# pre-decrement
a = 30
while a>=0:
  a-=2
  print(a)

28
26
24
22
20
18
16
14
12
10
8
6
4
2
0
-2

In [ ]:
n = int(input("Enter the number: "))
i=1
while i<=20:
  print(f"{n} x {i} = ",n*i)
  i+=1

Enter the number: 7
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
7 x 10 =  70
7 x 11 =  77
7 x 12 =  84
7 x 13 =  91
7 x 14 =  98
7 x 15 =  105
7 x 16 =  112
7 x 17 =  119
7 x 18 =  126
7 x 19 =  133
7 x 20 =  140

In [ ]:
a=1
while a<=5:
  print("python")
  a+=1

python
python
python
python
python

In [ ]:
# nested while loop
a=1
while a<=5:
  b=1
  print("python")
  while b<=1:
    print("trainings")
    b+=1
  a+=1

python
trainings
python
trainings
python
trainings
python
trainings
python
trainings

In [ ]:
# nested while loop
a=1
while a<=5:
  b=1
  print("python", end=",")
  while b<=1:
    print("trainings")
    b+=1
  a+=1

python,trainings
python,trainings
python,trainings
python,trainings
python,trainings

In [ ]:
# nested while loop
a=1
while a<=5:
  b=1
  print("python", end=",")
  while b<=1:
    print("trainings", end="; ")
    b+=1
  a+=1

python,trainings; python,trainings; python,trainings; python,trainings; python,trainings;

In [ ]:
# star pattern
i=0
while i<=5:
  print(i*"*")
  i+=1

*
**
***
****
*****

In [ ]:
# star pattern
i=0
while i<=5:
  print(i*" X ")
  i+=1

 X
 X  X
 X  X  X
 X  X  X  X
 X  X  X  X  X

In [ ]:
# star pattern
import time #importing the library for sleep function
i=0
while i<=5:
  print(i*" * ")
  time.sleep(5) #delay of 5 seconds
  i+=1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
# star pattern
import time
i=5
while i>=0:
  print(i*" * ")
  time.sleep(1) #delay of 1 second
  i-=1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
# break statement - interrupts the execution/terminates the loop even though the condition of the while loop is still true
i=0
while i<=10:
  print(i)
  if i==4:
    break
  i = i+1

0
1
2
3
4

In [ ]:
# continue statement - skips the current iteration and moves to the next iteration
a = 0
while a<10:
  a+=1
  if a==5:
    continue
  print(a)

1
2
3
4
6
7
8
9
10

In [ ]:
#  FOR LOOP
for i in range(0,10,1): #START-STOP-STEP
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10): #also gives the same answer as previous one
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10): 
  print(i, end="\t") #escape sequence

0	1	2	3	4	5	6	7	8	9

In [ ]:
for i in range(20,11,-1):
  print(i)

20
19
18
17
16
15
14
13
12

In [ ]:
# iteration of a string
var1 = "python"
for i in var1:
  print(i)

p
y
t
h
o
n

In [ ]:
# iteration through a string-list
var1 =  ["python", "programming"]
for i in var1:
  print(i)

python
programming

In [ ]:
# iteration through a string-tuple
var1 =  ("python", "programming", "language", "on", "Google Colab")
for i in var1:
  print(i)

python
programming
language
on
Google Colab

In [ ]:
# iteration through a string-set
var1 =  {"python", "programming", "language", "on", "Google Colab"}
for i in var1:
  print(i)

Google Colab
programming
language
python
on

In [ ]:
# iteration through a string-dictionary
var1 =  {"python": "programming", "language": "on", "Google":" Colab"}
for i in var1:
  print(i)

python
language
Google

In [ ]:
n = int(input("Enter the number : "))
i = 1
print(f"{n} x {i} = {n*i}")

Enter the number : 5
5 x 1 = 5

In [ ]:
n = int(input("Enter the number : "))
i = 1
for i in range(1,11,1):
  print(f"{n} x {i} = {n*i}")

Enter the number : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input("Enter the number : "))
i = 1
for i in range(1,11,1):
  print(f"{n} x {i} = {n*i}")
  if i==5:
    break

Enter the number : 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55

In [ ]:
# NESTED FOR LOOP
for i in range(7): #printing all the possible outcomes of a dice
  for j in range(7):
    print(f"({i},{j})", end=" ")

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6)

In [ ]:
# coordinates on a graph example
for i in range(0,5):
  for j in range(0,4):
    print((i,j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)

In [ ]:
# # FUNCTIONS - Reusable chunks/pieces/Block of code which runs only when it is called 
# in built functions - print(), input(), max(), min(), sum(), pow()
# user defined functions - 

# def functionName(parameters): FUNCTION DEFINITION
#   statements/expressions
#   statements/expressions

# functionName(values) - function Call

In [ ]:
def my_function():
  print("Hello shatakshi")

In [ ]:
my_function() #functionCall

Hello shatakshi

In [ ]:
def amount():
  amnt = int(input("enter the amount: "))
  print("Entered amount is ", amnt)

In [ ]:
amount()

enter the amount: 500
Entered amount is  500

In [ ]:
#  creating a function for addition
def add(n1,n2):
  result = n1+n2
  print("sum = ",result)

add(7,5)

sum =  12

In [ ]:
#  creating a function for addition, subtraction, multiplication, division
def calc(n1,n2):
  print("sum = ", n1+n2)
  print("difference = ", n1-n2)
  print("product = ", n1*n2)
  print("quotient = ", n1/n2)

calc(7,5)

sum =  12
difference =  2
product =  35
quotient =  1.4

In [ ]:
# Global and local variables 
a = 10 
def fun1():
  a = 5
  print("Local variable",a)

fun1()
print("Global variable",a)

Local variable 5
Global variable 10

In [ ]:
# File Handling, Numpy, Matplotlib, Pandas - next class